@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  background-color: rgb(18, 18, 18);
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .btn-main {
    @apply bg-pink-500 text-black font-extrabold py-[12px] rounded-[30px] text-[22px];
  }
  .container {
    @apply mx-auto w-auto sm:px-[16px] md:flex md:px-[32px] xl:max-w-[1440px] xl:px-[120px];
  }
}

.svg-gradient {
  transition: fill 0.3s;
}

.svg-gradient:hover {
  fill: url(#gradient-hover);
}